<div class="container mt-4" >
  <h1>สถานที่ท่องเที่ยวจังหวัดเชียงใหม่</h1>
  <div class="card" style="width: 100%;" >
  <img src="assets/images/slid/001.jpg" class="card-img-top" alt="..." style="height: 60rem;">
  <div class="card-body">
    <h5 class="card-title"> <h1>ดอยอินทนนท์</h1></h5>
    <p class="card-text"> ดอยสูงเสียดฟ้าอันดับ 1 ของเมืองไทย ท่องเที่ยวได้อย่างสะดวกสบาย แม้ถนนอาจคดเคี้ยวบ้างในบางจุด แต่ถนนหนทางดี สามารถท่องเที่ยวแบบไปเช้าเย็นกลับ หรือพักค้างคืนสัมผัสอากาศหนาวเย็น เป็นที่เที่ยวเชียงใหม่ได้รับความนิยมจากทุกเพศทุกวัย ดอยอินทนนท์มีสถานที่ท่องเที่ยวสวยงามให้แวะเที่ยวได้หลายจุด โดยเฉพาะจุดชมวิวกิ่วแม่ปาน พระมหาธาตุเจดีย์คู่ ชมวิวทะเลหมอกในยามเช้า</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <img src="assets/images/slid/003.jpg" class="card-img-top" alt="..." style="height: 60rem;">
  <div class="card-body">
    <h5 class="card-title"> <h1>แกรนด์แคนยอน</h1></h5>
    <p class="card-text"> หากใครเป็นสายเอ็กซ์ตรีม ชื่นชอบการท่องเที่ยวแนวผจญภัยสุดท้าทายและได้เล่นน้ำด้วย แกรนด์แคนยอนเชียงใหม่ถือว่าเป็นที่เที่ยวเชียงใหม่ที่ตอบโจทย์สุด ๆ เพราะที่นี่เป็นแอ่งน้ำขนาดใหญ่ สถานที่ท่องเที่ยวเชียงใหม่ที่เป็นที่นิยมทั้งนักท่องเที่ยวไทยและต่างชาติ โดยเราสามารถเช่าห่วงยางเล่นน้ำได้ หรือจะเช่าเรือยางพายเรือ นั่งทานอาหารภายในแกรนด์แคนยอนได้ด้วยเช่นกัน</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <img src="assets/images/slid/002.jpg" class="card-img-top" alt="..." style="height: 50rem;">
  <div class="card-body">
    <h5 class="card-title"> <h1>ม่อนแจ่ม</h1></h5>
    <p class="card-text"> สัมผัสหมอกและความเย็น ชมวิวธรรมชาติบนยอดเขาม่อนแจ่ม สถานที่ยอดฮิตของเชียงใหม่ ที่มีอากาศเย็นตลอดทั้งปี โอบล้อมไปด้วยขุนเขาสีเขียวสลับซับซ้อนกัน สีสันสวนดอกไม้ สวนผัก กระจายอยู่ทั่วบริเวณมีสีสันสวยงาม มาชมทุ่งดอกเวอร์บีนาสีม่วงตลอดทาง สวยสุดๆ หน้าฝนชุ่มฉ่ำแบบนี้ อยากให้ทุกท่านได้มาสัมผัสกับที่เที่ยวธรรมชาติ บรรยากาศสบายๆ เที่ยวได้เต็มที่ บรรยากาศช่วงนี้ปกคลุมไปด้วยหมอกฝนเบาๆ ให้ความรู้สึกเย็นสบาย มาถ่ายรูปเช็คอินกับทะเลหมอกสวยๆ ภูเขาสีเขียวขจี และทุ่งดอกเวอร์บีน่า และมาสัมผัสบรรยากาศธรรมชาติ สูดอากาศบริสุทธิ์ให้เต็มปอดกัน</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>
