<div class="container mt-5">
  <h1 class="text-center">รายชื่อสมาชิกในกลุ่ม</h1>
  <div class="row mt-5 text-center">
    <div class="col-5">
      <div class="card" style="width: 18rem;">
        <img src="assets/images/slid/teams/4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5>ก้องภพ บรรณทอง </h5>
          <p class="card-text">ปวส.1/4</p>
          <a href="#" class="btn btn-primary">ซัน</a>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="card" style="width: 18rem;">
        <img src="assets/images/slid/teams/5.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5>ศรายุทธ เสนีวงค์ ณ อยุธยา </h5>
          <p class="card-text">ปวส.1/4</p>
          <a href="#" class="btn btn-primary">เต้</a>
        </div>
    </div>
  </div>

</div>

