<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner" style="height: 50rem;"  >
    <div class="carousel-item active">
      <img src="assets/images/slid/001.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/images/slid/002.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/images/slid/003.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  <br>
  <h1>จังหวัดเชียงใหม่</h1>
  <p>ประวัติ จังหวัดเชียงใหม่
    มรดกแห่ง อาณาจักรล้านนา



    ไร่ชา ที่เที่ยวเชียงใหม่



    เชียงใหม่ เป็นจังหวัดที่เต็มไปด้วยเสน่ห์ของธรรมชาติ และศิลปะวัฒนธรรมที่ตกทอดกันมาเป็นเวลายาวนาน โดยเฉพาะกลิ่นอายของ
    อารายธรรมล้านนา ที่ยังคงปรากฏให้เห็นทั้งในรูปแบบสถาปัตยกรรมของวัดวาอาราม วัตถุโบราณต่างๆ
    ที่ยังคงอนุรักษ์เอาไว้ในพิพิธภัณฑ์และโบราณสถานต่างๆ รวมถึงวิถีชีวิตของคนท้องถิ่นที่สะท้อนให้เห็นว่า
    แม้กาลเวลาจะเปลี่ยนไป แต่ เชียงใหม่ ก็ยังเก็บรักษาศิลปะวัฒนธรรมอันเป็นเอกลักษณ์ให้ยังคงอยู่ได้เป็นอย่างดี




    ประวัติ จังหวัดเชียงใหม่ สมัยล้านนา


    วัดเชียงมั่น ที่เที่ยวเชียงใหม่



    ย้อนไปในสมัยของ พญามังราย พระมหากษัตริย์รัชกาลที่ 25 แห่งหิรัญนครเงินยางเชียงลาว เดิมพระองค์ทรงครองราชสมบัติอยู่ที่
    เมืองเชียงราย แต่หลังจากที่ได้สร้างนครใหม่ ชื่อ "นพบุรีศรีนครพิงค์เชียงใหม่” เมื่อปี พ.ศ. 1839
    พระองค์ก็ทรงย้ายมาครองราชสมบัติที่นครแห่งนี้ และตั้งให้เป็นราชธานีแห่งอาณาจักรล้านนานับแต่นั้น เชียงใหม่
    เป็นนครอิสระที่อยู่ในการปกครองของราชวงศ์มังราย มายาวนานถึง 261 ปี แต่แล้วในปี พ.ศ. 2101 เชียงใหม่ ก็ได้เสียเอกราช
    และตกอยู่ในการปกครองของพม่ายาวนานกว่า 200 ปีเลยทีเดียว




    ประวัติ จังหวัดเชียงใหม่ สมัยกรุงรัตนโกสินทร์


    วัดสวนดอก ที่เที่ยวเชียงใหม่



    จนกระทั่งสมัย พระเจ้าตากสินมหาราช ตลอดมาจนถึงสมัย พระบาทสมเด็จพระพุทธยอดฟ้าจุฬาโลกมหาราช รัชกาลที่ 1
    ก็ได้มีการยกทัพไปช่วย เชียงใหม่ และ เชียงแสน ขับไล่พม่าออกจากเมืองได้สำเร็จ พระบาทสมเด็จพระพุทธยอดฟ้าจุฬาโลกจึงตั้ง
    พระยากาวิละ หนึ่งในผู้นำทัพสู้กับพม่าในยามนั้นให้เป็นเจ้าเมืองเชียงใหม่ และตั้ง เชียงใหม่
    ให้เป็นเมืองในประเทศราชของไทย ต่อมาก็ได้ปรับเปลี่ยนการปกครองให้กลายเป็นระบบมณฑล ชื่อ มณฑลพายัพ ในสมัย
    พระบาทสมเด็จพระจุลจอมเกล้าเจ้าอยู่หัว รัชกาลที่ 5 ก่อนจะเปลี่ยนมาเป็นระบบจังหวัด เมื่อปี พ.ศ. 2476 ในสมัย
    พระบาทสมเด็จพระปกเกล้าเจ้าอยู่หัว รัชกาลที่ 7 จนถึงปัจจุบันค่ะ




    คำขวัญ จังหวัดเชียงใหม่


    “ดอยสุเทพเป็นศรี ประเพณีเป็นสง่า

    บุปผาชาติล้วนงามตา นามล้ำค่านครพิงค์ ”



    วัดพระธาตุดอยสุเทพ ที่เที่ยวเชียงใหม่

    หมู่บ้านหัตถกรรมร่มบ่อสร้าง ที่เที่ยวเชียงใหม่





    กล่าวถึง วัดพระธาตุดอยสุเทพราชวรวิหาร พระอารามหลวงที่มีความสำคัญมากๆ แห่งหนึ่งในจังหวัดเชียงใหม่ รวมถึงสถานที่ต่างๆ
    ที่สะท้อนให้เห็นถึงประเพณีและวิถีชีวิตของอารายธรรมล้านนาที่ตกทอดกันมารุ่นสู่รุ่นจนถึงปัจจุบัน เช่น
    หมู่บ้านหัตถกรรมร่มบ่อสร้าง และ หมู่บ้านหัตถกรรมบ้านถวาย เป็นต้น ไม่เพียงแค่ศิลปะวัฒนธรรมเท่านั้น เชียงใหม่
    ยังเป็นจังหวัดที่รายล้อมไปด้วยธรรมชาติอุดมสมบูรณ์ ทั้งผืนป่า ขุนเขา ท่องไร่ท้องนา และแม้น้ำสายต่างๆ
    เรียกได้ว่าเป็นแหล่งรวมมรดกล้ำค่าทั้งทางวัฒนธรรมและธรรมชาติครบจบในที่เดียวเลยค่ะ




    วัดสวย จังหวัดเชียงใหม่


    วัดพระธาตุศรีจอมทอง เชียงใหม่



    ใครที่อยากชมสถาปัตยกรรมล้านนาแบบเต็มอิ่ม มา เชียงใหม่ สิแล้วจะไม่ผิดหวัง เพราะที่นี่เต็มไปด้วย
    วัดสวยเก่าแก่ที่สะท้อนให้เห็นถึงศิลปะโบราณจากหลากหลายวัฒนธรรม โดยเฉพาะศิลปะแบบล้านนา
    และพม่าที่ผสมกลมกลืนกันอย่างลงตัว ทุกคนจะต้องไม่พลาดไปกราบไหว้สิ่งศักดิ์สิทธิ์คู่บ้านคู่เมืองเชียงใหม่อย่าง
    วัดพระธาตุดอยสุเทพ วัดพระธาตุศรีจอมทอง วัดพระสิงห์วรมหาวิหาร และ วัดหลวงขุนวิน เพื่อเสริมสิริมงคล
    และชมความงามอันวิจิตรตระการตาของลวดลายต่างๆ ในวัดที่สร้างขึ้นจากประณีต



    วัดหลวงขุนวิน ที่เที่ยวเชียงใหม่




    ที่เที่ยวธรรมชาติ จังหวัดเชียงใหม่


    อุทยานแห่งชาติดอยอินทนนท์ ที่เที่ยวเชียงใหม่

    แม่กลางหลวง ที่เที่ยวเชียงใหม่



    พอพูดถึง เชียงใหม่ ก็อดนึกถึงอากาศเย็นๆ กับธรรมชาติสวยๆ ไม่ได้ใช่มั้ยล่ะคะ โดยเฉพาะวิวสุดอลังของขุนเขา สายหมอก
    ท้องไร่ท้องนา ที่ไม่ว่าใครก็อยากไปชมความงามเหล่านั้นด้วยตาตนเองกันทั้งนั้น
    และแน่นอนว่าเมื่อพูดถึงที่เที่ยวธรรมชาติชื่อดังของ จังหวัดเชียงใหม่ แล้วก็คงไม่พ้น อุทยานแห่งชาติดอยอินทนนท์
    ที่รวมโลเคชั่นสุดปังไว้มากมาย เช่น วิวนาขั้นบันไดของ บ้านแม่กลางหลวง, สถานีเกษตรหลวงอินทนนท์,
    พระมหาธาตุเจดีย์นภเมทนีดล และ พระมหาธาตุเจดีย์นภพลภูมิสิริ
    ที่เปิดโอกาสให้พวกเราได้ขึ้นไปกราบไหว้องค์เจดีย์คู่ที่ตั้งอยู่บนจุดที่สูงที่สุดในประเทศไทย
    อีกทั้งยังได้ดื่มด่ำกับสวนดอกไม้ที่จัดขึ้นอย่างสวยงามรอบๆ เจดีย์อีกด้วยค่ะ



    น้ำตกผาดอกเสี้ยว น้ำตกรักจัง ที่เที่ยวเชียงใหม่

    พระตำหนักภูพิงค์ราชนิเวศน์ ที่เที่ยวเชียงใหม่



    ยังไม่หมดเพียงเท่านี้ เชียงใหม่ ยังมีพิกัดธรรมชาติปังๆ และที่เที่ยวเชิงเกษตรอีกมากมายเช่น น้ำตกผาดอกเสี้ยว
    น้ำพุร้อนสันกำแพง สวนพฤกษศาสตร์สมเด็จพระนางเจ้าสิริกิติ์ พระตำหนักภูพิงค์ราชนิเวศน์ และอื่นๆ
    อีกมากมายที่พร้อมให้ทุกคนไปสมผัสกับบรรยากาศสุดฟินกันแบบไม่อั้นเลยค่ะ</p>
</div>
